.btn {
    width: 100px;
    height: 30px;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: rgb(132, 132, 233);
    cursor: pointer;
}
.btn:active {
    background-color: blue;
}
.content {
    margin-top: 30px;
    width: 800px;
    height: 100px;
    box-shadow: 5px 5px 10px 0px steelblue ;
}
.none {
    display: none;
}